<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index_auth.css}">

    <title>Добро пожаловать &rsaquo; Service Desk</title>
</head>

<body class = "container" >

    <div class="row h-100 justify-content-center align-items-center" id = "app">

        <div class="center-block">
            <div class="text-center padding-bottom-5">
                <p class="a-name" th:text="${site.company_name}"></p>
                <p class="a-name a-name-small">Web Service Desk</p>
            </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.cr_error}">
                    <strong>Сообщение системы:</strong>
                    <p>Имя пользователя и/или пароль неверны, повторите попытку</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
                    <strong>Сообщение системы:</strong>
                    <p>Неизвестная ошибка, повторите позже</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.act_error}">
                    <strong>Сообщение системы:</strong>
                    <p>Ожидайте активации вашего аккаунта</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.val_error}">
                    <strong>Сообщение системы:</strong>
                    <p>Ожидается подтверждение почты</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
                <strong>Сообщение системы:</strong>
                <p th:text="${successMessage}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMessage}">
                    <strong>Сообщение системы:</strong>
                    <p th:text="${errorMessage}"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('${user.*}')}">
                    <p><strong>Сообщение системы:</strong></p>
                    <p th:errors="*{user.first_name}"></p>

                    <p th:errors="*{user.middle_name}"></p>

                    <p th:errors="*{user.last_name}"></p>

                    <p th:errors="*{user.username}"></p>

                    <p th:errors="*{user.password}"></p>

                    <p th:errors="*{user.password_match}"></p>

                    <p th:errors="*{user.phone_number}"></p>

                    <p th:errors="*{user.email}"></p>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            <!-- Nav Tabs -->
            <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item"><a th:classappend = "${ tab.li_div_login }" class="nav-link" id="login-tab" data-toggle="tab" href="#log"
                                        role="tab"
                                        th:attr = "aria-selected=${ tab.aria_selecter_login }">Вход</a></li>

                <li class="nav-item"><a th:classappend = "${ tab.li_div_register }" class="nav-link" id="reg-tab" data-toggle="tab" href="#reg"
                                        role="tab"
                                        th:attr = "aria-selected=${ tab.aria_selecter_register }">Регистрация</a></li>
            </ul>

            <!-- Login Register Inside -->
            <div class="tab-content" id="myTabContent">

                <!-- Login -->
                <div th:classappend = "${ tab.li_div_login }" class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="login-tab">
                    <div class="height-100 d-flex justify-content-center align-items-center padding-25">
                        <form autocomplete="off" action="#" method="POST" id = "login_form" name = "login_form" th:action="@{/ska_login}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                           
                            <!-- Name -->
                            <div>
                                <div class="form-group text-center">
                                    <label for="username" class="control-label"> Имя пользователя
                                        <input id="user_name" name="user_name" placeholder="john_doe" type="text"
                                               class="form-control" required>
                                    </label>
                                </div>
                            </div>
                            <!-- LAST NAME -->
                            <div>
                                <div class="form-group text-center">
                                    <label for="password" class="control-label"> Пароль
                                        <input id="pass_word" name="pass_word" type="password" class="form-control" required>
                                    </label>
                                </div>
                            </div>

                            <div>
                                <div class="form-group text-center">
                                    <!-- LOGIN -->
                                    <button form = "login_form" type="submit" name = "btn" value="log" class="btn btn-dark bg-black" >Войти</button>
                                </div>
                            </div>

                            <div class="form-group d-flex justify-content-center">
                                <a th:href="@{/reset}" class="pass-forgot">Забыли пароль?</a>
                            </div>
                            <div class="text-center" >
                                <p style="margin: 0"><small>Крайне рекомендуется последняя</small></p>
                                <p style="margin: 0"><small>версия Chrome или Firefox</small></p>
                                <p style="margin: 0"><small>для работы с сайтом, иначе </small></p>
                                <p style="margin: 0"><small>работоспособность не гарантируется!</small></p>
                            </div>
                            <div class="text-center" style = "padding-top:15px" >
                                <p style = "margin:0;"><i class="fas fa-phone-volume"></i> <span th:text ="${site.phone_number}"></span> </p>
                                <p style = "margin:0;"><i class="fas fa-envelope-square"></i> <span th:text ="${site.email}"></span> </p>
                            </div>

                        </form>

                    </div>

                </div>

                <!-- Register -->
                <div th:classappend = "${ tab.li_div_register }" class="tab-pane fade" id="reg" role="tabpanel" aria-labelledby="reg-tab">
                    <div class="d-flex justify-content-center align-items-center padding-25">
                        <form v-on:submit="submit" autocomplete="off" th:action="@{/registration}" th:object="${user}" method="POST" id = "register_form" name = "register_form">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <!-- FULL NAME -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="last_name">Фамилия</label>
                                        <input id="last_name" autocomplete="new-password" name="last_name" th:field="*{last_name}"
                                               v-model.lazy="$v.last_name.$model" :class="status($v.last_name)"
                                               placeholder="" type="text"
                                               aria-describedby="firstNameHelpBlock"
                                               class="form-control here">

                                        <span class = "help is-danger" v-if="!$v.last_name.required && $v.last_name.$dirty">
                                            Поле обязательно к заполнению
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.last_name.minLength">
                                            Минимально допустимое число символов: <% $v.last_name.$params.minLength.min %>
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.last_name.maxLength">
                                            Максимально допустимое число символов: <% $v.last_name.$params.maxLength.max %>
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.last_name.ru_alpha && $v.last_name.$dirty">
                                            К использованию допустима только кириллица
                                        </span>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="first_name">Имя</label>
                                        <input id="first_name" autocomplete="new-password"
                                               v-model.lazy="$v.first_name.$model" :class="status($v.first_name)"
                                               name="first_name" placeholder="" type="text" th:field="*{first_name}"
                                               aria-describedby="lastNameHelpBlock"
                                               class="form-control here">
                                        <span class = "help is-danger" v-if="!$v.first_name.required && $v.first_name.$dirty">
                                        Поле обязательно к заполнению
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.first_name.minLength">
                                            Минимально допустимое число символов: <% $v.first_name.$params.minLength.min %>
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.first_name.maxLength">
                                            Максимально допустимое число символов: <% $v.first_name.$params.maxLength.max %>
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.first_name.ru_alpha && $v.first_name.$dirty">
                                            К использованию допустима только кириллица
                                        </span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="middle_name">Отчество</label>
                                        <input v-model.lazy="$v.middle_name.$model" autocomplete="new-password"
                                               id="middle_name" name="middle_name" placeholder="(необязательно)" type="text"
                                               aria-describedby="lastNameHelpBlock" th:field="*{middle_name}"
                                               class="form-control here" :class="status($v.middle_name)">
                                        <span class = "help is-danger" v-if="!$v.middle_name.minLength">
                                            Минимально допустимое число символов: <% $v.middle_name.$params.minLength.min %>
                                        </span>
                                        <span class = "help is-danger" v-else-if="!$v.middle_name.maxLength">
                                            Максимально допустимое число символов: <% $v.middle_name.$params.maxLength.max %>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- LOGIN -->
                            <div>
                                <div class="form-group">

                                    <label for="username">Имя пользователя</label>
                                    <input id="username"
                                           v-model.lazy="$v.username.$model" :class="status($v.username)" autocomplete="new-password"
                                           name="username" placeholder="victor44rus" type="text"
                                           aria-describedby="usernameHelpBlock" th:field="*{username}"
                                           class="form-control here" >

                                    <span class = "help is-danger" v-if="!$v.username.required && $v.username.$dirty">
                                        Поле обязательно к заполнению
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.username.minLength">
                                        Минимально допустимое число символов: <% $v.username.$params.minLength.min %>
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.username.maxLength">
                                        Максимально допустимое число символов: <% $v.username.$params.maxLength.max %>
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.username.alphaNum">
                                        Имя пользователя может состоят только из цифр и латинских букв
                                    </span>


                                </div>
                            </div>

                            <!-- PASS -->
                            <div>
                                <div class="form-group">


                                    <label for="password">Пароль</label>
                                    <input id="password" th:field="*{password}"
                                           v-model="$v.password.$model" :class="status($v.password)" autocomplete="new-password"
                                           name="password" type="password"
                                           aria-describedby="passwordHelpBlock"
                                           class="form-control here">
                                    <span class = "help is-danger" v-if="!$v.password.required && $v.password.$dirty">
                                        Поле обязательно к заполнению
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.password.minLength">
                                        Минимально допустимое число символов: <% $v.password.$params.minLength.min %>
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.password.maxLength">
                                        Максимально допустимое число символов: <% $v.password.$params.maxLength.max %>
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.password.strongPass && $v.password.$dirty">
                                        Пароль как минимум должен содержать: <br>
                                        Одну цифру <br>
                                        Одну прописную латинскую букву <br>
                                        Одну заглавную латинскую букву <br>
                                        Один спец. символ( @ # $ % ^ & + = ).
                                    </span>

                                </div>
                            </div>

                            <div>
                                <div class="form-group">

                                    <label for="password_match">Подтвердите пароль</label>
                                    <input id="password_match" th:field="*{password_match}"
                                           v-model="$v.password_match.$model" :class="status($v.password_match)" autocomplete="new-password"
                                           name="password" type="password"
                                           aria-describedby="passwordHelpBlock"
                                           class="form-control here">
                                    <span class = "help is-danger" v-if="!$v.password_match.sameAs">
                                        Вы не подтвердили пароль
                                    </span>
                                </div>
                            </div>

                            <!-- TEL -->
                            <div>
                                <div class="form-group">

                                    <label for="phone_number">Номер телефона</label>
                                    <input id="phone_number" th:field="*{phone_number}"
                                           v-model="$v.phone_number.$model" :class="status($v.phone_number)" autocomplete="new-password"
                                           name="phone_number" placeholder="+79876543212" type="tel"
                                           aria-describedby="phone_numberHelpBlock"
                                           class="form-control here">
                                    <span class = "help is-danger" v-if="!$v.phone_number.required && $v.phone_number.$dirty">
                                        Поле обязательно к заполнению
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.phone_number.phone && $v.phone_number.$dirty">
                                        Введен некорректный номер телефона
                                    </span>
                                </div>
                            </div>

                            <!-- EMAIL -->
                            <div>
                                <div class="form-group">


                                    <label for="email">E-mail адрес</label>
                                    <input id="email" name="email" th:field="*{email}"
                                           v-model.lazy="$v.email.$model" :class="status($v.email)" autocomplete="new-password"
                                           placeholder="proverka@yandex.ru" type="email"
                                           aria-describedby="emailHelpBlock"
                                           class="form-control here">
                                    <span class = "help is-danger" v-if="!$v.email.required && $v.email.$dirty">
                                        Поле обязательно к заполнению
                                    </span>
                                    <span class = "help is-danger" v-else-if="!$v.email.email && $v.email.$dirty">
                                        Введен некорректный email адрес
                                    </span>
                                </div>
                            </div>

                            <!-- REG BUTTON -->
                            <div>
                                <div class="form-group text-center">
                                    <button form = "register_form" type="submit" name = "btn" value="reg" class="btn btn-dark bg-black">Зарегистрироваться</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

    <script th:src="@{/js/vuelidate.min.js}"></script>

    <script th:src="@{/js/validators.min.js}"></script>

    <script th:src="@{/js/validation.js}"></script>
    <noscript>
        <h1>Работа с сайтом невозможна ввиду отсутствия у вашего браузера поддержки javascript или же его намеренного отключения</h1>
        <h1>Включите его поддержку или же установите любой современный браузер </h1>
    </noscript>
</body>

</html>