<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="base::links"></div>
    <link rel="stylesheet" th:href="@{/css/request_add.css}">
</head>
<body>
<div th:replace="base::header"></div>

<main role="main" class="container">

    <div class="form-group form-container">
        <form method="POST" enctype="multipart/form-data" th:action="@{/users/id/{strId}/edit(strId = ${user.getId()})}">
            <div class="input-comb">
                <label for="title">Логин: </label>
                <p id = "title" th:text="${user.getUsername()}"></p>
            </div>
            <div class="input-comb">
                <label for="fio_input">ФИО</label>
                <input type="text" name = "fio" class="form-control" id="fio_input" th:value="${user.getFullname()}">
            </div>
            <div class="input-comb">
                <label for="post_input">Должность</label>
                <input type="text" name = "post" class="form-control" id="post_input" th:value="${user.getPost()}">
            </div>
            <div class="input-comb">
                <label for="email_input">Email</label>
                <input type="text" name = "email" class="form-control" id="email_input" th:value="${user.getEmail()}">
            </div>
            <div class="input-comb">
                <label for="phone_input">Номер телефона</label>
                <input type="text" name = "phone" class="form-control" id="phone_input" th:value="${user.getPhonenumber()}">
            </div>
            <button type='submit' class="btn btn-dark bg-black">Сохранить</button>
        </form>
    </div>




</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script th:src = "@{/js/req_clear.js}"></script>
<div th:replace="base::footer"></div>
</body>
</html>